#btn_install_the_app {
    position: absolute;
    /* top: 5px; */
    top: 8px;
    /* right: 12px; */
    /* right: 30px; */
    right: 28.5px;
    border: 0;
    padding: 13px 19.6px 15px 18.3px;
    display: flex;
    align-items: center;
    /* border-radius: 20px; */
    border-radius: 100px;
    /* background-color: #FF4D4D; */
    background-color: #3740ff;
    /* opacity: 0.5; */
    opacity: 0.7;
    box-shadow: 0 2px 36px rgb(0 0 0 / 30%);
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

#btn_install_the_app:hover {
    cursor: pointer;
}

#btn_install_the_app.hide_btn_install {
    display: none;
}

#btn_install_the_app .dowld-ic-wrap {
    transform: translateY(1px);
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn_install_the_app .dowld-ic-wrap svg {
    --instll-btn-ic-size: 14px;
    fill: #fff;
    width: var(--instll-btn-ic-size);
    min-width: var(--instll-btn-ic-size);
    height: var(--instll-btn-ic-size);
    min-height: var(--instll-btn-ic-size);
}

#btn_install_the_app .insll-btn-txt {
    display: flex;
    align-items: center;
    color: #fff;
    /* font-size: 12px; */
    font-size: 12.5px;
    letter-spacing: 0.03em;
    font-weight: 600;
}
