@charset "UTF-8";
@import "./fonts/playfair-display/playfair-display.css";
@import "./fonts/roboto/roboto.css";

:root {
    --dark-blue-clr: #000F40;
    /* --red-coral-clr: #FF4D4D; */
    --red-coral-clr: #FF4D4D;
    --light-red-coral-clr: #FFF7F7;
    --light-red-warning-clr: #ee404c;
    --purple-blue-clr: #3740ff;
    --light-purple-blue-clr: #737AFF;
    --inner-side-padding: 30px;
    --header-height: 108px;
    /* --cntnt-containr-verti-pddn: 50px; */
    --cntnt-containr-verti-pddn: 30px;
    --vid-slider-btn-size: 25px;
    --box-shadow-styl: 2px 2px 5px 1.5px rgba(0, 0, 0, 0.23);
}

*, html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Playfair Display', serif;
    /* font-size: 18px; */
    font-size: 20px;
    letter-spacing: 0.03em;
    height: 100vh;
    overflow: hidden;
}

.inner-pddn {
    padding-left: var(--inner-side-padding);
    padding-right: var(--inner-side-padding);
}

.cntnt-cntainr {
    padding-top: var(--cntnt-containr-verti-pddn);
    padding-bottom: var(--cntnt-containr-verti-pddn);
    height: calc( 100vh - var(--header-height) );
    transform-style: preserve-3d;
    overflow-y: auto;
}

.pg-mnu-itm-lst-wrpr {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -15px;
}

.two-col-item {
    flex: 1 1 calc(100vw / 3);
}

.three-col-item {
    flex: 1 1 calc(100vw / 4);
    max-width: calc(100vw / 3.29);
}

.pg-mnu-itm-lst-wrpr .mnu-itm-block {
    height: calc( ( 100vh - var(--header-height) - (var(--cntnt-containr-verti-pddn) * 2) ) / 2.107 );
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    /* font-weight: 600; */
    font-weight: 900;
    font-style: italic;
    /* text-transform: uppercase; */
    letter-spacing: 0.05em;
    padding: 15px;
    /* background-color: #000; */
    background-color: var(--dark-blue-clr);
    text-decoration: none;
    position: relative;
    margin: 15px;
}

.pg-mnu-itm-lst-wrpr .mnu-itm-block:hover {
    cursor: pointer;
}

.pg-mnu-itm-lst-wrpr .mnu-itm-block .mnu-itm-txt {
    z-index: 1;
}

.pg-mnu-itm-lst-wrpr .mnu-itm-block img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.pg-ttle {
    display: inline-block;
    /* font-size: 25px; */
    font-size: 28px;
    font-weight: 900;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 40px;
}

.pg-ttle::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    border-bottom: 6px solid var(--red-coral-clr);
}

.app_lodr {
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* === Offline Custom Page Wrapper === */

.offline-custom-pg-wrpr {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-red-warning-clr);
}

.offline-custom-pg-wrpr .inner-offln-cstm-wrpr {
    display: flex;
    align-items: center;
}

.inner-offln-cstm-wrpr .offln-warning-ic-wrp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-offln-cstm-wrpr .offln-warning-ic-wrp svg {
    --custm-wrn-ic-size: 110px;
    width: var(--custm-wrn-ic-size);
    min-width: var(--custm-wrn-ic-size);
    height: var(--custm-wrn-ic-size);
    min-height: var(--custm-wrn-ic-size);
}

.inner-offln-cstm-wrpr .offln-wrn-text {
    font-size: 40px;
    font-weight: 900;
    /* color: var(--light-red-warning-clr); */
    color: #fff;
}

/* === End of Offline Custom Page Wrapper === */

