.catalogue-pg-wrpr .pg-mnu-itm-lst-wrpr .mnu-itm-block {
    /* height: calc( ( 100vh - var(--header-height) - (var(--cntnt-containr-verti-pddn) * 2) ) / 2.43 ); */
    height: calc( ( 100vh - var(--header-height) - (var(--cntnt-containr-verti-pddn) * 2) ) / 2.45 );
}

.catalogue-pg-wrpr .pg-mnu-itm-lst-wrpr .mnu-itm-block::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-blue-clr);
    opacity: 0.8;
}

.catalogue-pg-wrpr .mnu-itm-block .mnu-itm-txt {
    /* font-size: 35px; */
    font-size: 32px;
}
