header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    background-color: #fff;
    /* border-bottom: 1px solid lightgray; */
    box-shadow: 0 2px 36px rgb(0 0 0 / 13%);
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

header .inner-hd-wrpr {
    width: 100%;
    display: flex;
    align-items: center;
}

header .inner-hd-wrpr .hd-item-block {
    flex: 1 1 0px;
    display: flex;
    align-items: center;
}

header .inner-hd-wrpr .bck-ic-wrp {
    transition: opacity 0.2s;
}

header .inner-hd-wrpr .bck-ic-wrp.hide {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

header .inner-hd-wrpr .bck-ic-wrp svg {
    /* --hd-bck-ic-size: 70px; */
    /* --hd-bck-ic-size: 60px; */
    /* --hd-bck-ic-size: 55px; */
    --hd-bck-ic-size: 50px;
    /* fill: #000; */
    fill: var(--dark-blue-clr);
    width: var(--hd-bck-ic-size);
    min-width: var(--hd-bck-ic-size);
    height: var(--hd-bck-ic-size);
    min-height: var(--hd-bck-ic-size);
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

header .inner-hd-wrpr .bck-ic-wrp svg:hover {
    cursor: pointer;
}

header .hd-logo-wrpr {
    justify-content: center;
}

header .hd-logo-wrpr a {
    display: flex;
    align-items: center;
}

header .hd-logo-wrpr img {
    /* width: 250px; */
    /* width: 200px; */
    height: 70px;
    /* transform: translateX(-30px); */
}

header .hd-srch-wrpr {
    justify-content: flex-end;
    /* -- Hidden search bar section -- */
    visibility: hidden;
    pointer-events: none;
}

header .hd-srch-wrpr .inner-hd-srch-wrpr {
    display: flex;
    /* align-items: center; */
    align-items: flex-end;
    /* width: 410px; */
    /* border-bottom: 3px solid #000; */
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

.hd-srch-wrpr .inner-hd-srch-wrpr .srch-input-wrp {
    flex: 1 1 0px;
    margin-right: 13px;
}

.hd-srch-wrpr .inner-hd-srch-wrpr .srch-input-wrp input {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Playfair Display', serif;
    /* font-size: 20px; */
    /* font-size: 25px; */
    /* font-size: 22px; */
    font-size: 18px;
    font-weight: 900;
    border: 0;
    /* border-bottom: 5px solid #000; */
    width: 100%;
    height: 39px;
    background-color: transparent;
}

.hd-srch-wrpr .inner-hd-srch-wrpr .srch-ic-wrp {
    /* --srch-ic-wrp-size: 60px; */
    --srch-ic-wrp-size: 50px;
    width: var(--srch-ic-wrp-size);
    min-width: var(--srch-ic-wrp-size);
    height: var(--srch-ic-wrp-size);
    min-height: var(--srch-ic-wrp-size);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #000; */
    /* background-color: var(--gold-clr); */
    background-color: var(--red-coral-clr);
    /* border-radius: 20px; */
    border-radius: 16px;
}

.hd-srch-wrpr .inner-hd-srch-wrpr .srch-ic-wrp:hover {
    cursor: pointer;
}

.hd-srch-wrpr .inner-hd-srch-wrpr .srch-ic-wrp svg {
    /* --srch-ic-size: 45px; */
    /* --srch-ic-size: 35px; */

    --srch-ic-size: 20px;

    /* --srch-ic-size: 30px; */
    /* --srch-ic-size: 27px; */

    /* --srch-ic-size: 25px; */

    fill: #fff;
    width: var(--srch-ic-size);
    min-width: var(--srch-ic-size);
    height: var(--srch-ic-size);
    min-height: var(--srch-ic-size);
}


