.home-pg-wrpr .pg-mnu-itm-lst-wrp .hm-item-block {
    /* height: calc( ( 100vh - var(--header-height) - var(--cntnt-containr-verti-pddn) - 20px ) / 2.26 ); */
    /* height: calc( ( 100vh - var(--header-height) - var(--cntnt-containr-verti-pddn) - 20px ) / 2.276 ); */
    /* height: calc( ( 100vh - var(--header-height) - var(--cntnt-containr-verti-pddn) ) / 2.255 ); */
    /* height: calc( ( 100vh - var(--header-height) - (var(--cntnt-containr-verti-pddn) * 2) ) / 2.25 ); */
    height: calc( ( 100vh - var(--header-height) - (var(--cntnt-containr-verti-pddn) * 2) ) / 2.107 );
}

.home-pg-wrpr .mnu-itm-block .mnu-itm-txt {
    /* font-size: 30px; */
    /* font-size: 50px; */
    font-size: 45px;
    /* font-size: 25px; */
}
