.item-details-pg-wrpr {
    /* max-width: 980px; */
    /* margin: 30px auto 50px auto; */
    margin: 0 auto 50px auto;
}

.item-details-pg-wrpr .inner-it-dtls-wrpr {
    display: flex;
    flex-wrap: wrap;
}

.item-details-pg-wrpr .itm-dtls-ttle-wrp {
    display: inline-block;
    font-size: 28px;
    font-weight: 900;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* margin-bottom: 65px; */
    margin-bottom: 50px;
}

.item-details-pg-wrpr .itm-dtls-ttle-wrp::after {
    content: '';
    position: absolute;
    bottom: -13px;
    left: 0;
    width: 100%;
    border-bottom: 6px solid var(--red-coral-clr);
}

.item-details-pg-wrpr .itm-dtls-img-wrp {
    flex: 1 1 0px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* margin-bottom: 40px; */
    /* margin-right: 60px; */
    margin-right: 50px;

}

.item-details-pg-wrpr .itm-dtls-img-wrp img {
    /* height: 500px; */
    /* height: 500px; */
    /* height: 65.5vh; */
    /* height: 550px; */
    /* height: 700px; */
    /* height: 600px; */
    /* height: 560px; */
    height: 72vh;
    /* width: 100%; */
    object-fit: contain;
    object-position: center;
}

/*
@media screen and (min-width: 1750px) {

    .item-details-pg-wrpr .itm-dtls-img-wrp img {
        height: 710px;
    }
}
*/

.item-details-pg-wrpr .doc-content {
    flex: 1 1 0px;
    margin-right: 30px;
}

.item-details-pg-wrpr h2:first-child {
    color: var(--dark-blue-clr);
    font-size: 28px;
    font-weight: 900;
    position: relative;
    margin-bottom: 65px;
}

.item-details-pg-wrpr h2 strong {
    font-weight: 900;
}

.item-details-pg-wrpr h2:first-child::after {
    content: '';
    position: absolute;
    bottom: -17px;
    left: 0;
    width: 100%;
    border-bottom: 6px solid var(--red-coral-clr);
}

.item-details-pg-wrpr h2:not(:first-child),
.item-details-pg-wrpr h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.item-details-pg-wrpr p {
    margin-bottom: 30px;
}

.item-details-pg-wrpr ul {
    margin-left: 60px;
    margin-bottom: 30px;
}

.item-details-pg-wrpr a {
    color: var(--red-coral-clr);
}
