.pop-wrpr {
    display: block;
    position: fixed;;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.pop-wrpr.hide {
    display: none;
}

.pop-wrpr .inner-pop-wrpr {
    /*
    width: 400px;
    height: 200px;
    */
    background-color: #fff;
}

.pop-wrpr .inner-pop-wrpr .pop-header-wrpr {
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
}

.pop-wrpr .inner-pop-wrpr .pop-header-wrpr .pop-hd-ttl-text {
    flex: 1 1 0px;
    padding: 3px 15px;
    /* font-size: 16px; */
    font-weight: 900;
    font-style: italic;
}

.pop-wrpr .inner-pop-wrpr .pop-header-wrpr .close-pop-ic-wrp {
    --close-pop-ic-wrp-size: 50px;
    width: var(--close-pop-ic-wrp-size);
    min-width: var(--close-pop-ic-wrp-size);
    height: var(--close-pop-ic-wrp-size);
    min-height: var(--close-pop-ic-wrp-size);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red-coral-clr);
    /* border-radius: 16px; */
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.pop-wrpr .inner-pop-wrpr .pop-header-wrpr .close-pop-ic-wrp:hover {
    cursor: pointer;
}

.pop-header-wrpr .close-pop-ic-wrp svg {
    /* --close-popup-ic-size: 10px; */
    --close-popup-ic-size: 12px;
    fill: #fff;
    width: var(--close-popup-ic-size);
    min-width: var(--close-popup-ic-size);
    height: var(--close-popup-ic-size);
    min-height: var(--close-popup-ic-size);
}

.pop-wrpr .inner-pop-wrpr .pop-content-wrpr {
    width: 450px;
    min-height: 110px;
    max-height: 60vh;
    /* font-size: 17.5px; */
    padding: 15px;
}

.pop-wrpr .inner-pop-wrpr .pop-footer-wrpr {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 7px;
}

.pop-wrpr .inner-pop-wrpr .pop-footer-wrpr .btn-popup {
    /* padding: 10px 20px 12px 20px; */
    /* padding: 14.3px 20px 14.3px 20px; */
    padding: 14.3px 20px 15px 20px;
    /* font-size: 15px; */
    font-size: 18px;
    font-weight: 700;
    /* background-color: var(--dark-blue-clr); */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.pop-footer-wrpr .btn-popup.btn-cancel-pop {
    background-color: var(--red-coral-clr);
}

.pop-footer-wrpr .btn-popup.btn-validate-pop {
    background-color: var(--dark-blue-clr);
}

.pop-wrpr .inner-pop-wrpr .pop-footer-wrpr .btn-popup:hover {
    cursor: pointer;
}

.pop-wrpr .inner-pop-wrpr .pop-footer-wrpr .btn-popup:not(:first-child) {
    margin-left: 7px;
}


