.video-player-pg-wrpr {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: var(--light-red-coral-clr); */
    background-color: var(--dark-blue-clr);
    padding: 30px 30px 92px 30px;
    /* padding: 30px 30px 180px 30px; */
    /* padding: 30px; */
    /* border-radius: 5px; */
    --vid-wrpr-side-margin: 10px;
    margin-left: var(--vid-wrpr-side-margin);
    margin-right: var(--vid-wrpr-side-margin);
    margin-bottom: 70px;
}

.video-player-pg-wrpr .vid-ttle-wrp {
    display: inline-block;
    color: #fff;
    font-weight: 900;
    font-size: 27px;
    position: relative;
    /* margin-bottom: 35px; */
    margin-bottom: 50px;
}

.video-player-pg-wrpr .vid-ttle-wrp::after {
    content: '';
    position: absolute;
    bottom: -13px;
    left: 0;
    width: 100%;
    border-bottom: 2px solid var(--red-coral-clr);
}

.video-player-pg-wrpr .inner-vid-plr-wrpr {
    display: flex;
    justify-content: center;
    align-items: center;
    /*
    height: 65.5vh;
    width: 57vw;
    */
    height: 70vh;
    width: 70vw;
    /* width: 61vw; */
    /* width: auto; */
    position: relative;
    background-color: #000;
}

@media screen and (max-width: 1536px) {
    .video-player-pg-wrpr .inner-vid-plr-wrpr {
        height: 65.5vh;
        width: 57vw;
    }
}

.inner-vid-plr-wrpr .abov-vid-wrpr {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.5s;
}

.inner-vid-plr-wrpr .abov-vid-wrpr.is-buffering {
    background-color: rgba(0, 0, 0, 0.12);
}

.inner-vid-plr-wrpr .vid-intro-img-wrp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    overflow: hidden;
    pointer-events: none;
    display: none;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.inner-vid-plr-wrpr .vid-intro-img-wrp.display {
    display: flex;
}

.inner-vid-plr-wrpr .vid-intro-img-wrp img {
    margin-top: -50px;
    width: 50vh;
    object-fit: contain;
    object-position: center;
}

.inner-vid-plr-wrpr .vid-lder-wrpr {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 999;
}

.inner-vid-plr-wrpr .vid-lder-wrpr.hide {
    display: none;
}

.video-player-pg-wrpr .inner-vid-plr-wrpr .bottom-vid-ctrls-wrpr {
    position: absolute;
    bottom: -2px;
    /* bottom: -58px; */

    /* left: -1px; */
    /* left: -0.9px; */

    width: 100%;
    /* height: 50px; */
    /* background-color: rgba(255, 255, 255, 0.2); */
    /* background-color: rgba(0, 0, 0, 0.5); */

    background-color: rgba(0, 0, 0, 0.4);

    /* box-shadow: 10px -23px 23px 8px rgba(0, 0, 0, 0.23); */
    /* box-shadow: 3px -21px 21px 5px rgba(0, 0, 0, 0.23); */
    /* box-shadow: 0px -21px 21px 10px rgba(0, 0, 0, 0.23); */
    box-shadow: 0px -21px 50px 5px rgba(0, 0, 0, 0.4);

    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.bottom-vid-ctrls-wrpr .vid-input-progress-wrp {
    display: flex;
    align-items: center;
    /* padding: 0 2px; */
}

.bottom-vid-ctrls-wrpr .vid-input-progress-wrp .vid-plr-slider {
    /*
    position: absolute;
    top: -4.5px;
    left: 0;
    */

    /*
    left: 50.03%;
    transform: translateX(-50%);
    width: 99.975%;
    */

    /* margin-left: 1px; */

    /* width: 100%; */
    /* width: 97.5%; */
    /* width: 97.3%; */
    /* width: 98%; */
    width: 100%;
    /* width: 99.9%; */

    /* left: 49.95%; */
    left: 50%;

    /* transform: translateX(-50%) scaleX(1.025); */
    transform: translateX(-50%);
    height: 10px;
    /* height: 12px; */
}

/*
.bottom-vid-ctrls-wrpr .vid-input-progress-wrp .vid-plr-slider::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: scaleX(1.02);
}
*/

.bottom-vid-ctrls-wrpr .vid-input-progress-wrp .MuiSlider-root {
    padding: 0;
}

.bottom-vid-ctrls-wrpr .vid-input-progress-wrp .MuiSlider-rail {
    display: none;
}

.vid-plr-slider {
    /* --unfilled-vid-slider-clr: rgba(55, 64, 255, 0.35); */
    /* --unfilled-vid-slider-clr: #b9bcff; */
    /* --unfilled-vid-slider-clr: rgba(255, 255, 255, 0.4); */
    --unfilled-vid-slider-clr: #fff;
    -webkit-appearance: none;
    outline: none;
    /* background-color: lightgray; */
    /*
    background: -webkit-linear-gradient(to right, var(--purple-blue-clr) 20%, rgba(55, 64, 255, 0.3) 20%);
    background: linear-gradient(to right, var(--purple-blue-clr) 20%, rgba(55, 64, 255, 0.3) 20%);
    */
    background: -webkit-linear-gradient(to right, var(--purple-blue-clr) 20%, var(--unfilled-vid-slider-clr) 20%);
    background: linear-gradient(to right, var(--purple-blue-clr) 20%, var(--unfilled-vid-slider-clr) 20%);
    /* border-radius: 12px; */
}

.vid-plr-slider:hover {
    cursor: pointer;
}

.vid-plr-slider::-webkit-slider-thumb,
.bottom-vid-ctrls-wrpr .vid-input-progress-wrp .MuiSlider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--vid-slider-btn-size);
    height: var(--vid-slider-btn-size);
    border: 3px solid #fff;
    /* background-color: var(--purple-blue-clr); */
    background-color: var(--light-purple-blue-clr);
    border-radius: 50%;
    box-shadow: var(--box-shadow-styl);
}

.bottom-vid-ctrls-wrpr .vid-input-progress-wrp .MuiSlider-thumb {
    margin-top: -8px;
    /* margin-left: -13px; */
}

.vid-plr-slider::-webkit-slider-thumb:hover {
    cursor: pointer;
}

.vid-plr-slider::-moz-range-thumb {
    width: var(--vid-slider-btn-size);
    height: var(--vid-slider-btn-size);
    background-color: var(--light-purple-blue-clr);
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: var(--box-shadow-styl);
}

.vid-plr-slider::-moz-range-thumb:hover {
    cursor: pointer;
}

.bottom-vid-ctrls-wrpr .inner-btm-ctrls-wrpr {
    /* margin-top: 6.8px; */
    /* margin-top: 5px; */
    /* margin: 5px 0; */

    margin: 6.5px 5px 6px 10px;
    /* margin: 10px 5px 6px 10px; */

    /* height: 50px; */

    /* padding: 0 5px; */
    /* padding: 0 3px 0 10px; */
    display: flex;
    align-items: center;
}

.bottom-vid-ctrls-wrpr .inner-btm-ctrls-wrpr .time-progress-wrp {
    flex: 1 1 0px;
    display: flex;
    align-items: center;
}

.inner-btm-ctrls-wrpr .time-progress-wrp .vid-time-text {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    /* font-size: 14px; */
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.05em;
    /* padding: 7px 5px 5px 5px; */
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* color: #ddd; */
    color: #fff;
}

.inner-btm-ctrls-wrpr .time-progress-wrp .vid-time-text:hover {
    cursor: default;
}

.video-player-pg-wrpr .inner-vid-plr-wrpr .mid-vid-ctrls-wrpr {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-vid-ctrls-wrpr .midl-vid-crtls-ic-wrp:hover {
    cursor: pointer;
}

.video-player-pg-wrpr .inner-vid-plr-wrpr .playpause-ic-wrp {
    margin: 0 30px;
}

.mid-vid-ctrls-wrpr .midl-vid-crtls-ic-wrp svg {
    /* fill: var(--red-coral-clr); */
    /* fill: #000; */
    /* fill: var(--purple-blue-clr); */
    fill: #fff;
    --midl-vid-ctrls-ic-size: 40px;
    /* --midl-vid-ctrls-ic-size: 35px; */
    width: var(--midl-vid-ctrls-ic-size);
    min-width: var(--midl-vid-ctrls-ic-size);
    height: var(--midl-vid-ctrls-ic-size);
    min-height: var(--midl-vid-ctrls-ic-size);
}

.mid-vid-ctrls-wrpr .midl-vid-crtls-ic-wrp.playpause-ic-wrp svg {
    --midl-vid-ctrls-ic-size: 35px;
}

.midl-vid-crtls-ic-wrp.playpause-ic-wrp svg.rplayy-svg-ic {
    transform: scaleX(-1) scale(1.2);
}

.fwrd-rwnd-ic-wrp.rewind-ic svg {
    transform: rotate(-180deg);
}

.inner-btm-ctrls-wrpr .vid-fullscrn-ic-wrp {
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    */
    /* padding: 10px 10px 10px 12px; */
    height: 40px;
    width: 43px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
}

.inner-btm-ctrls-wrpr .vid-fullscrn-ic-wrp:hover {
    cursor: pointer;
}

.inner-btm-ctrls-wrpr .vid-fullscrn-ic-wrp svg {
    position: relative;
    left: 51.5%;
    top: 47.5%;
    transform: translate(-50%, -50%);
    /* fill: #ddd; */
    fill: #fff;
    --vid-flscr-ic-size: 20px;
    width: var(--vid-flscr-ic-size);
    min-width: var(--vid-flscr-ic-size);
    height: var(--vid-flscr-ic-size);
    min-height: var(--vid-flscr-ic-size);
}



